.bind_info {
    padding: 45px 0 27px;
    width: 330px;
    height: 357px;
    position: relative;
}

.bind_info_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 330px;
    height: 357px;
}

.bind_info_title {
    margin-bottom: 18px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.bind_info_form {
    padding: 0 44px;
    margin-bottom: 30px;
}

.bind_info_actions {
    text-align: center;
}