.mission {
  padding-top: 150px;
  height: 1008px;
  text-align: center;
  position: relative;
}

.mission_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1008px;
}

.mission_title {
  position: absolute;
  top: 65px;
  right: 40px;
  width: 173px;
  height: 65px;
}

.mission_list {
  padding-left: 15px;
}

.mission_item_bonus {
  color: rgb(206, 57, 57);
}