.td_select {
    display: flex;
    align-items: center;
    height: 36px;
    margin-bottom: 8px;
}

.td_select_label {
    margin-right: 14px;
    font-size: 12px;
    color: #fff;
}

.td_select_section {
    flex: 1;
    position: relative;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    color: rgb(57, 80, 107);
}

.td_select_section_disabled {
    color: rgba(57, 80, 107, 0.6);
}

.td_select_section_disabled::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 1px;
    background-color: rgba(57, 80, 107, 0.6);
    transform: translate(-50%, -50%);
}

.td_select_value {
    display: inline-block;
    padding: 0 8px;
    position: relative;
    z-index: 10;
    background-color: #fff;
}

.td_select_dropdown {
    position: absolute;
    top: 0;
    z-index: 999;
    margin-top: 40px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    transform-origin: top;
    transform: scaleY(0);
    transition: all .1s;
}

.td_select_dropdown_active {
    transform: none;
}

.td_select_option {
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-bottom: 1px solid rgb(57, 80, 107, .3);
    font-size: 14px;
    color: rgb(57, 80, 107);
}

.td_select_option:last-child {
    border-bottom: none;
}