.operation {
  position: relative;
}

.operation_btn {
  margin: 0 auto 17.5px;
  width: 304px;
  display: flex;
  justify-content: space-between;
}

.span_cash {
  color: rgb(230, 173, 74);
}

.operation_log {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37.5px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, .1), rgba(255, 255, 255, .3), rgba(255, 255, 255, .1));
}

.operation_log_divider {
  margin: 0 25px;
  width: 1px;
  height: 20px;
  background-color: rgb(248, 227, 186);
}